@import '../../style.scss';

.leftbar {
    @include themify($themes) {

        flex: 2;
        position: sticky;
        top: 50px;
        height: calc(100vh - 50px);
        overflow: scroll;
        background-color: themed("bg");
        color: themed("textColor");

        &::-webkit-scrollbar {
            display: none;
        }

        .container {
            padding: 20px;

            hr {
                height: 0.5px;
                background-color: themed('border');
                width: 100%;
                margin: 15px 0;
               }

            .menu {
                display: flex;
                flex-direction: column;
                gap: 10px;

                span {
                    font-size: 12px;
                }

                .user {
                    display: flex;
                    align-items: center;
                    gap: 10px;
                    margin-bottom: 10px;

                    img {
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        object-fit: cover;
                    }

                    span {
                        font-size: 14px;
                    }
                }

                .item {
                    display: flex;
                    align-items: center;
                    gap: 10px;

                    img {
                        width: 30px;
                    }

                    span {
                        font-size: 14px;
                    }
                }
            }
        }
    }
}